
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(to bottom right, #FFFF00, #FFD700);
}

/* Style for the container */
.container {
  flex: 1;
}

/* Style for the login card */
.card {
  margin: auto;
  max-width: 400px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-top: 50%;
}

/* Style for the links */
.card a {
  color: #007bff;
}

/* Style for the logo */
.logo {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  max-width: 200px;
}

/* Style for the submit button */
.card .btn-primary {
  margin-top: 20px;
}